
<ion-toolbar>
<ion-title>Profile</ion-title>
</ion-toolbar>




<ion-content>

<div class="container">
<div class="overylay">
<ion-avatar>
<img src="../../../assets/icon/alex.jpeg">
</ion-avatar>

</div>
</div>

<ion-card>
  <ion-card-header>
    <ion-card-title>
          {{CurrentUserToDisplay}}
    </ion-card-title>
    <ion-card-subtitle>
        Istoric
    </ion-card-subtitle>
  </ion-card-header>
  </ion-card>
<div class="col-lg-3" *ngFor="let order of orders">
  <ion-card-content>
    <ion-item>
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>{{order.gameId}}:{{order.isProcesed}}</ion-label>
    </ion-item>
  </ion-card-content>

</div>

</ion-content>
