<div class="card">
    <div class="upper">
        <div class="row">
            <div class="col-8 heading">
                <h5><b>Track Your Order</b></h5>
            </div>
            <div class="col-4"> <img class="img-fluid" src="https://i.imgur.com/Rzjor3M.png"> </div>
        </div>
        <form>
            <div class="form-element"> <span id="input-header">Order ID</span> <input type="text" id="order_id" placeholder="2548745588958"> </div>
            <div class="form-element"> <span id="input-header">Phone No.</span>
                <div class="row">
                    <div class="col-3"> <input type="text" id="code" placeholder="+880"> </div>
                    <div class="col-9"> <input type="text" id="phone" placeholder="17328845878"> </div>
                </div>
            </div>
            <div class="form-element">
                <div class="row invalid">
                    <div class="col-1"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </div>
                    <div class="col-11"> <span>Order does not match with mobile number!<br> The information seems invalid</span> </div>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="lower"> <button class="btn">Track Order</button> </div>
</div>
