<ion-header>
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-back-button></ion-back-button>
</ion-buttons>
<ion-title>Get My Location</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>


        <app-google-maps apiKey="AIzaSyCsswF8ZyJHzhUUaE_itRjRWz_EYyvkHXY"></app-google-maps>
</ion-content>

<ion-footer>
    <button ion-button color="light" full (click)="testMarker()">Test Marker</button>
    <input type="button" id ="generateDistanceMatrix"
    value="Generate Distance Matrix" />
</ion-footer>
