

  <link rel="stylesheet" href="/css/master.css">
  <body>
    <div class="login-box">
      <h1>Register</h1>
      <div class="textbox">
        <i class="fa fa-user" aria-hidden="true"></i>

          <input type="text" name="name" placeholder="Nume" value="">
      </div>

			<div class="textbox">
				<i class="fa fa-envelope" aria-hidden="true"></i>
					<input type="text" name="email" placeholder="Email" value="">
			</div>

			<select required id="inputState" class="textbox">
			<option> Choose...</option>
				<option>Gorj</option>
				<option>Olt</option>
				<option selected="">Dolj</option>
				<option>Ilfov</option>
				<option>Brasov</option>
		</select>
		<div class="textbox">
		<i class="fa fa-globe" aria-hidden="true"></i>
				<input type="text" name="email" placeholder="Oras" value="">
		</div>
			<div class="textbox">
				<i class="fa fa-unlock-alt" aria-hidden="true"></i>

				<input type="password" placeholder="Password" name="" value="" required minlength="4">
			</div>
			<div class="textbox">
				<i class="fa fa-unlock-alt" aria-hidden="true"></i>

				<input type="password" placeholder="Confirm Password" name="" value="" required="required">
			</div>
      <input class="btn" type="button" name="" value="Submit" routerLink="/login" required minlength="4">
        </div>

  </body>
